<label class="mt-3"> Filtrar por nome</label>
<input [(ngModel)]="selected" [typeahead]="dogs" [isAnimated]="true" [typeaheadScrollable]="true"
    [typeaheadOptionsInScrollableView]="10" class="form-control">

<button class="btn btn-primary mt-3" (click)="filter()"> Filtrar </button>
<button class="btn btn-danger mt-3 ml-3" (click)="cancel()"> Limpar </button>


<div *ngIf="dogs$ | async">
    <table class="table mt-3">
        <thead class="thead-light">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="dogExist;else dogName">
                <td>{{ selected }}</td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="detail(selected)">Saiba Mais</button>
                </td>
            </tr>
            <ng-template #dogName>
                <tr *ngFor="let dog of dogs">
                    <td>{{ dog }}</td>
                    <td>
                        <button type="button" class="btn btn-primary" (click)="detail(dog)">Saiba Mais</button>
                    </td>
                </tr>
            </ng-template>

        </tbody>
    </table>
</div>